<app-title>Table</app-title>
<app-table
  classNames="striped celled"
  [users]="users"
  [data]="data"
></app-table>
<div class="mt"></div>
<app-title>Tab Segment</app-title>
<app-tab>
  <a
    class="item"
    routerLink="./"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Bio
  </a>
  <a class="item" routerLink="./companies" routerLinkActive="active">
    Companies
  </a>
  <a class="item" routerLink="./partners" routerLinkActive="active">
    Partners
  </a>
</app-tab>
